.highlight {
  border-radius: 3;
  counter-reset: line-numbering;
  // background: #fff;
  line-height: $line-height * .75;
  overflow-x: auto;
  padding: 0;
  white-space: pre;
  word-break: inherit;
  word-wrap: inherit;
}
