.highlight .hll { background-color: #404040 }
.highlight  { color: #F8F8F8 }
.highlight pre  { background: #0C1021 }
.highlight code { background: #0C1021 }
.highlight .c { color: #F8F8F8; font-family: Source Code Pro, Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace; } /* All Code */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .g { color: #F8F8F8 } /* Generic */
.highlight .k { color: #FBDE2D; font-weight: normal } /* Keyword */
.highlight .l { color: #F8F8F8 } /* Literal */
.highlight .n { color: #F8F8F8 } /* Name */
.highlight .o { color: #FBDE2D } /* Operator */
.highlight .x { color: #F8F8F8 } /* Other */
.highlight .p { color: #F8F8F8 } /* Punctuation */
.highlight .cm { color: #AEAEAE; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #cd2828; font-weight: normal } /* Comment.Preproc */
.highlight .c1 { color: #AEAEAE; font-style: italic } /* Comment.Single */
.highlight .cs { color: #AEAEAE; font-weight: normal; background-color: #520000 } /* Comment.Special */
.highlight .gd { color: #d22323 } /* Generic.Deleted */
.highlight .ge { color: #F8F8F8; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #d22323 } /* Generic.Error */
.highlight .gh { color: #ffffff; font-weight: normal } /* Generic.Heading */
.highlight .gi { color: #589819 } /* Generic.Inserted */
.highlight .go { color: #cccccc } /* Generic.Output */
.highlight .gp { color: #aaaaaa } /* Generic.Prompt */
.highlight .gs { color: #F8F8F8; font-weight: normal } /* Generic.Strong */
.highlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.highlight .gt { color: #d22323 } /* Generic.Traceback */
.highlight .kc { color: #D8FA3C; font-weight: normal } /* Keyword.Constant */
.highlight .kd { color: #FBDE2D; font-weight: normal } /* Keyword.Declaration */
.highlight .kn { color: #FBDE2D; font-weight: normal } /* Keyword.Namespace */
.highlight .kp { color: #FBDE2D } /* Keyword.Pseudo */
.highlight .kr { color: #FBDE2D; font-weight: normal } /* Keyword.Reserved */
.highlight .kt { color: #FBDE2D; font-weight: normal } /* Keyword.Type */
.highlight .ld { color: #F8F8F8 } /* Literal.Date */
.highlight .m { color: #3677a9 } /* Literal.Number */
.highlight .s { color: #61CE3C } /* Literal.String */
.highlight .na { color: #bbbbbb } /* Name.Attribute */
.highlight .nb { color: #F8F8F8 } /* Name.Builtin */
.highlight .nc { color: #FF6400 } /* Name.Class */
.highlight .no { color: #FF6400 } /* Name.Constant */
.highlight .nd { color: #ffa500 } /* Name.Decorator */
.highlight .ni { color: #F8F8F8 } /* Name.Entity */
.highlight .ne { color: #bbbbbb } /* Name.Exception */
.highlight .nf { color: #FF6400 } /* Name.Function */
.highlight .nl { color: #F8F8F8 } /* Name.Label */
.highlight .nn { color: #FF6400; text-decoration: underline } /* Name.Namespace */
.highlight .nx { color: #F8F8F8 } /* Name.Other */
.highlight .py { color: #F8F8F8 } /* Name.Property */
.highlight .nt { color: #6ab825;} /* Name.Tag */
.highlight .nv { color: #40ffff } /* Name.Variable */
.highlight .ow { color: #6ab825; font-weight: normal } /* Operator.Word */
.highlight .w { color: #666666 } /* Text.Whitespace */
.highlight .mf { color: #3677a9 } /* Literal.Number.Float */
.highlight .mh { color: #3677a9 } /* Literal.Number.Hex */
.highlight .mi { color: #3677a9 } /* Literal.Number.Integer */
.highlight .mo { color: #3677a9 } /* Literal.Number.Oct */
.highlight .sb { color: #61CE3C } /* Literal.String.Backtick */
.highlight .sc { color: #61CE3C } /* Literal.String.Char */
.highlight .sd { color: #61CE3C } /* Literal.String.Doc */
.highlight .s2 { color: #61CE3C } /* Literal.String.Double */
.highlight .se { color: #61CE3C } /* Literal.String.Escape */
.highlight .sh { color: #61CE3C } /* Literal.String.Heredoc */
.highlight .si { color: #61CE3C } /* Literal.String.Interpol */
.highlight .sx { color: #ffa500 } /* Literal.String.Other */
.highlight .sr { color: #61CE3C } /* Literal.String.Regex */
.highlight .s1 { color: #61CE3C } /* Literal.String.Single */
.highlight .ss { color: #D8FA3C } /* Literal.String.Symbol */
.highlight .bp { color: #24909d } /* Name.Builtin.Pseudo */
.highlight .vc { color: #40ffff } /* Name.Variable.Class */
.highlight .vg { color: #40ffff } /* Name.Variable.Global */
.highlight .vi { color: #40ffff } /* Name.Variable.Instance */
.highlight .il { color: #3677a9 } /* Literal.Number.Integer.Long */