---
---

$font-size: 12pt;
$line-height: $font-size * 1.428;

$monospace-fonts: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
$sans-serif-fonts: 'Raleway', sans-serif;
$serif-fonts: 'Lora', serif;

body {
  font-family: $serif-fonts;
  font-size: $font-size;
  line-height: $line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif-fonts;
}

h1 {
  font-size: 24pt;
}

blockquote {
  font-size: $font-size;
}

code {
  background-color: lighten(#337ab7, 45%);
  color: #337ab7;
  font-family: $monospace-fonts;
}

.highlight {
  font-family: $monospace-fonts;
}

a.title.external:after {
  position: relative;
  top: -6px;
  right: -2px;
  font-size: $font-size;
  font-family: 'octicons';
  content: ' \f07f';
}

a.title {
  text-decoration: none;
}

.content {
  margin-bottom: $line-height * 2;
}

.emoji {
  direction: ltr;
  display: inline-block;
  text-indent: -2000px;
  width: 16pt;
}

.dateline {
  font-size: $font-size;
  margin-bottom: $line-height;
}

.footnote {
  margin-left: 1px;
}

.footnotes {
  border-top-color: #eee;
  border-top-style: solid;
  border-top-width: 2px;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: $font-size * 0.9;
}

.row h1:first-of-type {
  margin-top: 0;
}

.metadata {
  font-style: italic;
  margin-bottom: 10px;
}

.navbar {
  font-family: $sans-serif-fonts;
}

.youtube-embed {
  text-align: center;
}

pre {
  counter-reset: line-numbering;
  border: solid 1px #d9d9d9;
  border-radius: 3;
  // background: #fff;
  padding: 0;
  line-height: $line-height * 0.75;
  margin-bottom: 30px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
}

pre a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em; /* space after numbers */
  width: 25px;
  text-align: right;
  opacity: 0.7;
  display: inline-block;
  color: #666;
  background: #ccc;
  margin-right: 10px;
  padding: 2px 10px;
  font-size: 13px;
  border-right: 1px solid #dedede;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pre a:first-of-type::before {
  padding-top: 10px;
  // @include box-shadow(rgba(255, 255, 255, 0.9) 0px 1px 1px inset);
}

pre a:last-of-type::before {
  padding-bottom: 10px;
}

pre a:only-of-type::before {
  padding: 10px;
}
