---
---

$font-size: 12pt;
$line-height: $font-size * 1.428;

$monospace-fonts: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
$sans-serif-fonts: 'Raleway', sans-serif;
$serif-fonts: 'Lora', serif;

body {
  font-family: $serif-fonts;
  font-size: $font-size;
  line-height: $line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif-fonts;
}

h1 {
  font-size: 24pt;
}

blockquote {
  font-size: $font-size;
}

code {
  background-color: lighten(#337ab7, 45%);
  color: #337ab7;
  font-family: $monospace-fonts;
}

a.title.external:after {
  position: relative;
  top: -6px;
  right: -2px;
  font-size: $font-size;
  font-family: 'octicons';
  content: ' \f07f';
}

a.title {
  text-decoration: none;
}

.content {
  margin-bottom: $line-height * 2;
}

.emoji {
  direction: ltr;
  display: inline-block;
  text-indent: -2000px;
  width: 16pt;
}

.dateline {
  font-size: $font-size;
  margin-bottom: $line-height;
}

.footnote {
  margin-left: 1px;
}

.footnotes {
  border-top-color: #eee;
  border-top-style: solid;
  border-top-width: 2px;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: $font-size * 0.9;
}

.row h1:first-of-type {
  margin-top: 0;
}

.metadata {
  font-style: italic;
  margin-bottom: 10px;
}

.navbar {
  font-family: $sans-serif-fonts;
}

.youtube-embed {
  text-align: center;
}
