<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }} - Lee Dohm's Blog</title>
    <link rel="alternate" type="application/atom+xml" href="{{ site.base_url }}{{ site.feed_url }}"/>
    <link rel="stylesheet" href="{{ site.base_url }}stylesheets/styles.css"/>
    <link rel="stylesheet" href="{{ site.base_url }}stylesheets/pygment_trac.css"/>
    <link rel="stylesheet" href="{{ site.base_url }}stylesheets/gist.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ site.base_url }}javascripts/main.js"></script>
    <script src="{{ site.base_url }}javascripts/date.extensions.js"></script>
    <script src="{{ site.base_url }}javascripts/to_local_time.js"></script>
    <script src="{{ site.base_url }}javascripts/to_relative_time.js"></script>
    <script src="//use.edgefonts.net/source-code-pro.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    {% include analytics.html %}
  </head>
  <body>

      <header>
        <a href="{{ site.base_url }}">
          <h1>Lee Dohm</h1>
          <p>Just another developer, trying to do something cool ...</p>
        </a>
      </header>

      <div id="banner">
      </div><!-- end banner -->

    <div class="wrapper">
      {{ content }}

      <footer>
        {% include copyright.html %}
        <p>
          <a href="{{ site.base_url }}about.html">About Lee</a><br/>
          <a href="{{ site.base_url }}colophon.html">Colophon</a><br/>
          <a href="{{ site.base_url }}disclaimer.html">Disclaimers</a><br/>
        </p>
      </footer>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script>$("span.reldate").toRelativeTime()</script>
    <script>$("span.localdate").toLocalTime()</script>
  </body>
</html>
