---
layout: base
---
{% for post in site.posts limit:10 %}
<div class="content">
  {% if post.layout == 'post' %}
  <h1><a class="title" href="{{ post.url }}">{{ post.title }}</a></h1>
  {% else %}
  <h1><a class="title external" href="{{ post.address }}">{{ post.title }}</a></h1>
  {% endif %}
  <h4 class="dateline">
    {{ post.date | date: '%B %d, %Y' }}
    •
    <a href="{{ post.url }}"><span class="octicon octicon-link"></span></a>
  </h4>

  {{ post.content }}
</div>
{% endfor %}
<p class="text-center"><a href="/archives">Find older posts</a></p>
