---
layout: default
---
<div class="col-md-3 left-column">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Interesting Links
    </div>
    <div class="panel-body">
      <ul>
        {% for link in site.links reversed %}
        {% if forloop.index0 < 5 %}
        <li><a href="{{ link.address }}">{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="col-md-9 main-column">
  {{ content }}
  <p class="text-center"><a href="{{ site.base_url }}archives.html">Find older posts</a></p>
</div>
