---
layout: base
---
      <section>
        <div class="page-header">
          <h1>{{ page.title | markdownify }}</h1>
          <div class="dateline">Published: <span class="reldate">{{ page.date | date: "%Y/%m/%d %H:%M:%S %Z" }}</span></div>
        </div>

        {{ content | emojify }}

        <hr/>

        <div class="metadata">
          {% if page.tags != empty %}
          <div>Tags: {{ page.tags | sort | join: ", " }}</div>
          {% endif %}
          <div>Date: <span class="localdate">{{ page.date | date: "%Y/%m/%d %H:%M:%S %Z" }}</span></div>
        </div>
      </section>
