---
layout: base
---
      <section>
        <div class="page-header">
          <h1>
            <p class="text-center">{{ page.title }}</p>
          </h1>
          <p class="text-right"><em>Published: <span class="reldate">{{ page.date | date: "%Y/%m/%d %H:%M:%S %Z" }}</span></em></p>
        </div>

        {{ content | emojify }}

        <hr/>

        <p>
        {% if page.tags != empty %}
        <em>Tags: {{ page.tags | sort | join: ", " }}</em><br/>
        {% endif %}
        <em>Date: <span class="localdate">{{ page.date | date: "%Y/%m/%d %H:%M:%S %Z" }}</span></em><br/>
        </p>
      </section>

